<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="hiservlet" version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>com.microandroid.filters.LogFilter</filter-class>
    </filter>
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>com.microandroid.filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.microandroid.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.microandroid.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handler/exception</servlet-name>
        <servlet-class>com.microandroid.ExceptionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>com.microandroid.servlet.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirectpage</servlet-name>
        <servlet-class>com.microandroid.servlet.RedirectPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>redirectpage</servlet-name>
        <url-pattern>/redirectpageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/sessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>handler/exception</servlet-name>
        <url-pattern>/handler/exception</url-pattern>
    </servlet-mapping>

    <!--设置session超时时间为15分钟，tomcat默认30分钟-->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!--当发生状态404异常，展示404.jsp-->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errors/40x.jsp</location>
    </error-page>

    <!--当发生状态500异常，展示500.jsp-->
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errors/50x.jsp</location>
    </error-page>

    <!--指定当发生异常时，使用异常处理器拦截处理-->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/handler/exception</location>
    </error-page>

    <!--指定当发生io异常时，使用异常处理器处理
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/handler/ioexception</location>
    </error-page>
    -->
</web-app>
